.openerp .test{
width: 1000px;
}

td{
padding-left: 10px;
height :30px
}

.o_form_view .o_group.o_inner_group > tbody > tr > td {
vertical-align: middle;
}

.o_form_view .o_form_field {
display: inline-block;
margin-bottom: 0px;
}

td.columnDivider {
    border-right: 1px solid #DEDEDE;
    text-align: right;
}

td.columnDivider_mediumseagreen {
    border-right: 1px solid #DEDEDE;
    text-align: right;
    color: #00b300;
}

td.columnDivider_dodgerblue {
    border-right: 1px solid #DEDEDE;
    text-align: right;
    color: #0066ff;
}
tr.rowDivider{
border-bottom: 1px solid #DEDEDE;
}

div.column{
}


.invoices [data-id="name"]{width: 1000px;}

.class_education [data-id="month_start"]{width: 1cm;}
.class_education [data-id="year_start"]{width: 2.8cm;}
.class_education [data-id="month_end"]{width: 1cm;}
.class_education [data-id="year_end"]{width: 2.8cm;}
.class_education [data-id="certificate"]{width: 3cm;}
.class_education [data-id="graduated"]{width: 2.8cm;}
.class_education [data-id="school_type"]{width: 3cm;}
.class_education [data-field="company"]{width: 5cm;}


.table_divider {border-collapse: collapse;}
.table_divider td{ border-bottom: 1px solid #DEDEDE; }

td.noDivider {
border-bottom: 0px solid #DEDEDE;
}

.mytable > tbody > tr > td {
border-bottom: 1px solid #DEDEDE;
}

.class_promotion [data-id="day"]{width: 1cm;}
.class_promotion [data-id="month"]{width: 1cm;}
.class_promotion [data-id="year"]{width: 2cm;}

.o_form_view .o_form_field .o_form_input_dropdown{
display:inline-block;
width:80%
}

.btn_toggle{
color: white;
background-color: #b71c14;
border-color: #b71c14;
}

.targets {width: 400px;}


.class_education [data-id="company"]{width: 2cm;}

.o_list_view [data-id="color_notice"]{width: 1cm;}

.o_field_widget.o_field_image.oe_avatar {
	.mk_form_image_controls {
		@include o-position-absolute($left: 0, $bottom: 10px);
	}
    img {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
        max-width: $o-avatar-size;
        max-height: $o-avatar-size;
        vertical-align: top;
        margin-bottom: 10px;
        border: none;
    }
   	@include media-breakpoint-down(xs, $o-extra-grid-breakpoints) {
		.mk_form_image_controls{
		    position: initial;
		    > .fa{
		        background: $o-brand-secondary;
		    }
		}
	}
}
