    /* AxisLabel */
    table.pvtTable .pvtAxisLabel {
	    white-space: nowrap;
    }
    table.pvtTable .pvtAxisLabel.expanded {
	    white-space: nowrap;
	    cursor: zoom-out !important;
    }
    table.pvtTable .pvtAxisLabel.collapsed {
	    white-space: nowrap;
	    cursor: zoom-in !important;
    }

    /* RowLabel */
    table.pvtTable tbody tr th.pvtRowLabel {
	    vertical-align: top !important;
	    white-space: nowrap !important;
        background-color: white !important;
        border-width: 0px 0px thin 0px !important;
    }
    table.pvtTable tbody tr th.pvtRowLabel.rowexpanded {
	    cursor: zoom-out !important;
    }
    table.pvtTable tbody tr th.pvtRowLabel.rowcollapsed {
	    cursor: zoom-in !important;
    }

    /* RowLabelFiller */
    table.pvtTable .pvtRowLabelFiller {
        background-color: white;
        border-width: 0px 0px thin 0px !important;
    }

    /* RowSubtotal */
    table.pvtTable .pvtRowSubtotal {
        font-weight:bold;
    }
    table.pvtTable tr td.pvtRowSubtotal.rowcollapsed {
	    background-color: #EFEFEF !important;
    }

    /* ColLabel */
    table.pvtTable thead tr th.pvtColLabel {
	    white-space: nowrap;
    }
    table.pvtTable thead tr th.pvtColLabel.colexpanded {
	    cursor: zoom-out !important;
    }
    table.pvtTable thead tr th.pvtColLabel.colcollapsed {
	    cursor: zoom-in !important;
    }

    /* ColLabelFiller */
    table.pvtTable .pvtColLabelFiller {
        background-color: #EFEFEF !important;
    }

    /* ColSubtotal */
    table.pvtTable .pvtColSubtotal {
        font-weight:bold;
    }
    table.pvtTable tr td.pvtColSubtotal {
	    background-color: #EFEFEF !important;
    }


    /*
    *
    * IMPORTANT: Please do not remove the lines below this point
    *
    */
    table.pvtTable tr .rowhide {
        display: none;
    }

    table.pvtTable tr .colhide {
        display: none;
    }

