.rm{
  &__input-btn{
    display: flex;
    width: fit-content;
    color: #333;
    height: 24px;
    padding: 0 6px;
    font-size: 1rem;
    font-weight: normal;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 3px;
    border: 1px solid #ccc;
    transition: all ease-in-out 0.2s;
    span{
      margin-left: 6px;
      line-height: 24px;
    }
    &:last-child{
      margin-right: 0;
    }
    &:hover, &.active{
      background-color: #00a09d;
      color: #fff;
      border-color: #00a09d;
    }
    &.sidebar-item{
      width: 100%;
      justify-content: start;
      border: none;
      border-bottom: 1px solid #ccc;
      height: 30px;
      line-height: 30px;
    }
  }
  &__input-item{
    display: flex;
    flex-direction: row;
    min-height: 24px;
    padding: 0 6px;
    box-sizing: border-box;
    position: relative;
    label{
      margin-bottom: 0;
      font-weight: 600;
      font-size: 0.9rem;
      color: #999;
    }
    &.record-name{
      width: 220px;
    }
    .bootstrap-datetimepicker-widget{
      width: 16rem !important;
    }
    &.is_error{
      color: #f44336;
      label{
        color: #f44336;
      }
    }
    .help-text{
      font-size: 0.9rem;
      color: #666;
      font-style: italic;
      margin: 0;
    }
  }
  &__selector{
    &-data{
      position: absolute;
      top: 100%;
      left: 3px;
      display: none;
      width: calc(100% - 6px);
      max-width: 220px;
      color: #333;
      background-color: #fff;
      z-index: 20;
      height: 180px;
      border: 1px solid #ccc;
    }
    &-search-input{
      width: 100%;
      border: none;
      border-bottom: 1px solid #ccc;
      padding: 3px;
      outline: none;
    }
    &-list{
      height: calc(100% - 25px);
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
      background-color: #fff;
      overflow: hidden auto;
    }
    &-item{
      padding: 0 6px;
      min-height: 24px;
      line-height: 24px;
      cursor: pointer;
      &:hover, &.active{
        background-color: #f1f1f1;
      }
    }
  }
  &__selected{
    &-label, &-labels{
      line-height: 24px;
      min-height: 24px;
      background: #fff;
      overflow: hidden;
      color: #333;
      padding: 0 15px 0 3px;
      margin: 0;
      position: relative;
      cursor: pointer;
      &:empty::before {
        content: attr(data-placeholder);
        color: #333;
        font-size: 1rem;
        padding-left: 3px;
        font-weight: normal;
      }
      &:after{
        content: "\f107";
        font-family: "FontAwesome";
        //content: "\f078";
        //font-family: "Font Awesome 5 Free";
        font-weight: 600;
        position: absolute;
        top: 50%;
        right: 3px;
        transform: translate(0, -50%);
        font-size: 1.2rem;
      }
    }
    &-label-tag{
      width: fit-content;
      padding: 0 6px;
      height: 20px;
      line-height: 20px;
      background-color: #eee;
      border-radius: 10px;
      margin: 2px 3px;
      .tag-label{
        margin-left: 3px;
      }
      .tag-remove{
        margin-right: 3px;
      }
    }
  }
  label{
    font-size: 0.9rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0;
    line-height: 24px;
    margin-right: 6px;
  }
  &__input{
    width: 100%;
    border: none;
    background-color: #fff;
    color: #333;
    font-size: 1rem;
    padding: 3px 6px;
    border-radius: 0;
    display: none;
  }
  &__checkbox, &__radiobox{
    padding: 6px;
    height: 24px;
    font-size: 1.4rem;
    i{
      cursor: pointer;
    }
    span{
      font-size: 1rem;
      margin-left: 6px;
      color: #333;
    }
    &--checked{
      color:#00a09d;
    }
  }
  &__input-preview {
    overflow: hidden;
    color: #333;
    padding: 3px;
    font-size: 1rem;
    margin: 0;
    height: 24px;
    display: none;
    &:empty::before {
      content: attr(data-placeholder);
      color: #333;
      font-size: 1rem;
      padding-left: 3px;
      font-weight: normal;
    }
  }
}

.rconfig, .rview{
  .table{
    width: auto;
    min-width: 100%;
  }
  &-table__design{
    min-width: auto !important;
    border: none;
    .cell{
      &--col{
        padding: 0;
        height: 15px;
        background-color: #eee;
        min-width: 3cm;
      }
      &--row{
        padding: 0;
        width: 15px;
        background-color: #eee;
      }
      &--hidden{
        border: none;
      }
    }
  }
  &-fragment{
    display: none;
  }
  &-tab{
    display: none;
  }
  .ui-resizable-handle{
    background-color:#ccc;
    height: 3px;
    bottom: 0 !important;
  }
  .display {
    display: block;
  }
  .checked{
    background-color: #f1f1f1;
  }
  .overflow{
    &-auto{
      overflow: auto;
    }
    &-hidden{
      overflow: hidden;
    }
  }
  .pivot-design{
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}

.rview{
  .dataTables_wrapper{
    width: auto;
    .table-view{
      width: 100%;
      overflow: auto;
      th, td{
        min-width: 3cm;
      }
    }
    .row{
      margin-left: -0.5rem;
      margin-right: -0.5rem;
    }
    .col-sm-12, .col-md-5, .col-md-7{
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
  &__name{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0;
    line-height: 40px;
    color: #333;
  }
  table{
    &.pvtTable{
      tbody{
        tr{
          th, td{
            min-width: 4cm;
          }
        }
      }
    }
  }
  .btn-toggle{
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    color: #444;
    margin-right: 8px;
    font-size: 2rem;
  }
}


.pretty-scroll{
  *{
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
      background: #999;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #666;
    }
  }
}