.rconfig{
  overflow: hidden;
  font-size: 1rem;
  background-color: #ffffff;
  &__toolbar{
    height: 30px;
    border-bottom: 1px solid #ccc;
  }
  &__sidebar{
    width: 220px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #ccc;
  }
  &__view{
    width: calc(100% - 220px);
  }
}


.fragment{
  &__toolbar{
    height: 30px;
    border-bottom: 1px solid #ccc;
  }
  &__content{
    height: 100%;
    overflow: auto;
  }
}


.box{
  &__toolbar{
    height: 30px;
    border-bottom: 1px solid #ccc;
  }
  &__design{
    min-height: 300px;
    overflow: hidden;
  }
  &__content{
    height: 100%;
    overflow: auto;
  }
}


.tab{
  &__toolbar{
    height: 30px;
    border-bottom: 1px solid #ccc;
  }
  &__content{
    overflow: auto;
  }
}


.rview{
  overflow: hidden;
  font-size: 1rem;
  background-color: #ffffff;
  position: relative;
  &__sidebar{
    width: 220px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  &__view{
    width: calc(100% - 220px);
    overflow: auto;
    position: absolute;
    right: 0;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  &__head{
    height: 70px;
  }
  &__report-name{
    height: 40px;
    display: flex;
    flex-direction: row;
  }
  &__toolbar{
    height: 30px;
    padding: 3px;
  }
  &__content{
    height: calc(100% - 70px);
  }
}

