.o_notification_manager {
    .o_notification {
        &.o_success {
            color: #fff;
            background-color: #66bb6a;
        }
        &.o_notify {
            color: #333;
            background-color: #80deea;
        }
    }
}