table.pvtUi{
  .pvtAxisContainer, .pvtVals{
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    padding: 3px 6px;
  }
  .pvtAxisContainer{
    li{
      padding: 3px;
      span{
        &.pvtAttr{
          background: #f5f5f5;
          border: 1px solid #ccc;
          padding: 3px 6px;
          border-radius: 0;
        }
      }
    }
  }

  select{
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 3px;
  }
}

table.pvtTable{
  border: 1px solid #ccc;
  thead{
    tr{
      th{
        background-color: #f1f1f1;
        border: 1px solid #ccc;
      }
    }
  }
  tbody{
    tr{
      td, th{
        border: 1px solid #ccc;
        &.pvtRowLabel{
          background-color: #f1f1f1!important;
          border-width: 1px !important;
        }
      }
    }
  }
}