@charset "UTF-8";
.w-1 {
  width: 1% !important;
}

.w-2 {
  width: 2% !important;
}

.w-3 {
  width: 3% !important;
}

.w-4 {
  width: 4% !important;
}

.w-5 {
  width: 5% !important;
}

.w-6 {
  width: 6% !important;
}

.w-7 {
  width: 7% !important;
}

.w-8 {
  width: 8% !important;
}

.w-9 {
  width: 9% !important;
}

.w-10 {
  width: 10% !important;
}

.w-11 {
  width: 11% !important;
}

.w-12 {
  width: 12% !important;
}

.w-13 {
  width: 13% !important;
}

.w-14 {
  width: 14% !important;
}

.w-15 {
  width: 15% !important;
}

.w-16 {
  width: 16% !important;
}

.w-17 {
  width: 17% !important;
}

.w-18 {
  width: 18% !important;
}

.w-19 {
  width: 19% !important;
}

.w-20 {
  width: 20% !important;
}

.w-21 {
  width: 21% !important;
}

.w-22 {
  width: 22% !important;
}

.w-23 {
  width: 23% !important;
}

.w-24 {
  width: 24% !important;
}

.w-25 {
  width: 25% !important;
}

.w-26 {
  width: 26% !important;
}

.w-27 {
  width: 27% !important;
}

.w-28 {
  width: 28% !important;
}

.w-29 {
  width: 29% !important;
}

.w-30 {
  width: 30% !important;
}

.w-31 {
  width: 31% !important;
}

.w-32 {
  width: 32% !important;
}

.w-33 {
  width: 33% !important;
}

.w-34 {
  width: 34% !important;
}

.w-35 {
  width: 35% !important;
}

.w-36 {
  width: 36% !important;
}

.w-37 {
  width: 37% !important;
}

.w-38 {
  width: 38% !important;
}

.w-39 {
  width: 39% !important;
}

.w-40 {
  width: 40% !important;
}

.w-41 {
  width: 41% !important;
}

.w-42 {
  width: 42% !important;
}

.w-43 {
  width: 43% !important;
}

.w-44 {
  width: 44% !important;
}

.w-45 {
  width: 45% !important;
}

.w-46 {
  width: 46% !important;
}

.w-47 {
  width: 47% !important;
}

.w-48 {
  width: 48% !important;
}

.w-49 {
  width: 49% !important;
}

.w-50 {
  width: 50% !important;
}

.w-51 {
  width: 51% !important;
}

.w-52 {
  width: 52% !important;
}

.w-53 {
  width: 53% !important;
}

.w-54 {
  width: 54% !important;
}

.w-55 {
  width: 55% !important;
}

.w-56 {
  width: 56% !important;
}

.w-57 {
  width: 57% !important;
}

.w-58 {
  width: 58% !important;
}

.w-59 {
  width: 59% !important;
}

.w-60 {
  width: 60% !important;
}

.w-61 {
  width: 61% !important;
}

.w-62 {
  width: 62% !important;
}

.w-63 {
  width: 63% !important;
}

.w-64 {
  width: 64% !important;
}

.w-65 {
  width: 65% !important;
}

.w-66 {
  width: 66% !important;
}

.w-67 {
  width: 67% !important;
}

.w-68 {
  width: 68% !important;
}

.w-69 {
  width: 69% !important;
}

.w-70 {
  width: 70% !important;
}

.w-71 {
  width: 71% !important;
}

.w-72 {
  width: 72% !important;
}

.w-73 {
  width: 73% !important;
}

.w-74 {
  width: 74% !important;
}

.w-75 {
  width: 75% !important;
}

.w-76 {
  width: 76% !important;
}

.w-77 {
  width: 77% !important;
}

.w-78 {
  width: 78% !important;
}

.w-79 {
  width: 79% !important;
}

.w-80 {
  width: 80% !important;
}

.w-81 {
  width: 81% !important;
}

.w-82 {
  width: 82% !important;
}

.w-83 {
  width: 83% !important;
}

.w-84 {
  width: 84% !important;
}

.w-85 {
  width: 85% !important;
}

.w-86 {
  width: 86% !important;
}

.w-87 {
  width: 87% !important;
}

.w-88 {
  width: 88% !important;
}

.w-89 {
  width: 89% !important;
}

.w-90 {
  width: 90% !important;
}

.w-91 {
  width: 91% !important;
}

.w-92 {
  width: 92% !important;
}

.w-93 {
  width: 93% !important;
}

.w-94 {
  width: 94% !important;
}

.w-95 {
  width: 95% !important;
}

.w-96 {
  width: 96% !important;
}

.w-97 {
  width: 97% !important;
}

.w-98 {
  width: 98% !important;
}

.w-99 {
  width: 99% !important;
}

.w-100 {
  width: 100% !important;
}

.rconfig {
  overflow: hidden;
  font-size: 1rem;
  background-color: #ffffff;
}
.rconfig__toolbar {
  height: 30px;
  border-bottom: 1px solid #ccc;
}
.rconfig__sidebar {
  width: 220px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #ccc;
}
.rconfig__view {
  width: calc(100% - 220px);
}

.fragment__toolbar {
  height: 30px;
  border-bottom: 1px solid #ccc;
}
.fragment__content {
  height: 100%;
  overflow: auto;
}

.box__toolbar {
  height: 30px;
  border-bottom: 1px solid #ccc;
}
.box__design {
  min-height: 300px;
  overflow: hidden;
}
.box__content {
  height: 100%;
  overflow: auto;
}

.tab__toolbar {
  height: 30px;
  border-bottom: 1px solid #ccc;
}
.tab__content {
  overflow: auto;
}

.rview {
  overflow: hidden;
  font-size: 1rem;
  background-color: #ffffff;
  position: relative;
}
.rview__sidebar {
  width: 220px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #ccc;
  background-color: #f1f1f1;
}
.rview__view {
  width: calc(100% - 220px);
  overflow: auto;
  position: absolute;
  right: 0;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.rview__head {
  height: 70px;
}
.rview__report-name {
  height: 40px;
  display: flex;
  flex-direction: row;
}
.rview__toolbar {
  height: 30px;
  padding: 3px;
}
.rview__content {
  height: calc(100% - 70px);
}

.rm__input-btn {
  display: flex;
  width: fit-content;
  color: #333;
  height: 24px;
  padding: 0 6px;
  font-size: 1rem;
  font-weight: normal;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 3px;
  border: 1px solid #ccc;
  transition: all ease-in-out 0.2s;
}
.rm__input-btn span {
  margin-left: 6px;
  line-height: 24px;
}
.rm__input-btn:last-child {
  margin-right: 0;
}
.rm__input-btn:hover, .rm__input-btn.active {
  background-color: #00a09d;
  color: #fff;
  border-color: #00a09d;
}
.rm__input-btn.sidebar-item {
  width: 100%;
  justify-content: start;
  border: none;
  border-bottom: 1px solid #ccc;
  height: 30px;
  line-height: 30px;
}
.rm__input-item {
  display: flex;
  flex-direction: row;
  min-height: 24px;
  padding: 0 6px;
  box-sizing: border-box;
  position: relative;
}
.rm__input-item label {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 0.9rem;
  color: #999;
}
.rm__input-item.record-name {
  width: 220px;
}
.rm__input-item .bootstrap-datetimepicker-widget {
  width: 16rem !important;
}
.rm__input-item.is_error {
  color: #f44336;
}
.rm__input-item.is_error label {
  color: #f44336;
}
.rm__input-item .help-text {
  font-size: 0.9rem;
  color: #666;
  font-style: italic;
  margin: 0;
}
.rm__selector-data {
  position: absolute;
  top: 100%;
  left: 3px;
  display: none;
  width: calc(100% - 6px);
  max-width: 220px;
  color: #333;
  background-color: #fff;
  z-index: 20;
  height: 180px;
  border: 1px solid #ccc;
}
.rm__selector-search-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 3px;
  outline: none;
}
.rm__selector-list {
  height: calc(100% - 25px);
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  overflow: hidden auto;
}
.rm__selector-item {
  padding: 0 6px;
  min-height: 24px;
  line-height: 24px;
  cursor: pointer;
}
.rm__selector-item:hover, .rm__selector-item.active {
  background-color: #f1f1f1;
}
.rm__selected-label, .rm__selected-labels {
  line-height: 24px;
  min-height: 24px;
  background: #fff;
  overflow: hidden;
  color: #333;
  padding: 0 15px 0 3px;
  margin: 0;
  position: relative;
  cursor: pointer;
}
.rm__selected-label:empty::before, .rm__selected-labels:empty::before {
  content: attr(data-placeholder);
  color: #333;
  font-size: 1rem;
  padding-left: 3px;
  font-weight: normal;
}
.rm__selected-label:after, .rm__selected-labels:after {
  content: "";
  font-family: "FontAwesome";
  font-weight: 600;
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translate(0, -50%);
  font-size: 1.2rem;
}
.rm__selected-label-tag {
  width: fit-content;
  padding: 0 6px;
  height: 20px;
  line-height: 20px;
  background-color: #eee;
  border-radius: 10px;
  margin: 2px 3px;
}
.rm__selected-label-tag .tag-label {
  margin-left: 3px;
}
.rm__selected-label-tag .tag-remove {
  margin-right: 3px;
}
.rm label {
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0;
  line-height: 24px;
  margin-right: 6px;
}
.rm__input {
  width: 100%;
  border: none;
  background-color: #fff;
  color: #333;
  font-size: 1rem;
  padding: 3px 6px;
  border-radius: 0;
  display: none;
}
.rm__checkbox, .rm__radiobox {
  padding: 6px;
  height: 24px;
  font-size: 1.4rem;
}
.rm__checkbox i, .rm__radiobox i {
  cursor: pointer;
}
.rm__checkbox span, .rm__radiobox span {
  font-size: 1rem;
  margin-left: 6px;
  color: #333;
}
.rm__checkbox--checked, .rm__radiobox--checked {
  color: #00a09d;
}
.rm__input-preview {
  overflow: hidden;
  color: #333;
  padding: 3px;
  font-size: 1rem;
  margin: 0;
  height: 24px;
  display: none;
}
.rm__input-preview:empty::before {
  content: attr(data-placeholder);
  color: #333;
  font-size: 1rem;
  padding-left: 3px;
  font-weight: normal;
}

.rconfig .table, .rview .table {
  width: auto;
  min-width: 100%;
}
.rconfig-table__design, .rview-table__design {
  min-width: auto !important;
  border: none;
}
.rconfig-table__design .cell--col, .rview-table__design .cell--col {
  padding: 0;
  height: 15px;
  background-color: #eee;
  min-width: 3cm;
}
.rconfig-table__design .cell--row, .rview-table__design .cell--row {
  padding: 0;
  width: 15px;
  background-color: #eee;
}
.rconfig-table__design .cell--hidden, .rview-table__design .cell--hidden {
  border: none;
}
.rconfig-fragment, .rview-fragment {
  display: none;
}
.rconfig-tab, .rview-tab {
  display: none;
}
.rconfig .ui-resizable-handle, .rview .ui-resizable-handle {
  background-color: #ccc;
  height: 3px;
  bottom: 0 !important;
}
.rconfig .display, .rview .display {
  display: block;
}
.rconfig .checked, .rview .checked {
  background-color: #f1f1f1;
}
.rconfig .overflow-auto, .rview .overflow-auto {
  overflow: auto;
}
.rconfig .overflow-hidden, .rview .overflow-hidden {
  overflow: hidden;
}
.rconfig .pivot-design, .rview .pivot-design {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.rview .dataTables_wrapper {
  width: auto;
}
.rview .dataTables_wrapper .table-view {
  width: 100%;
  overflow: auto;
}
.rview .dataTables_wrapper .table-view th, .rview .dataTables_wrapper .table-view td {
  min-width: 3cm;
}
.rview .dataTables_wrapper .row {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.rview .dataTables_wrapper .col-sm-12, .rview .dataTables_wrapper .col-md-5, .rview .dataTables_wrapper .col-md-7 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.rview__name {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0;
  line-height: 40px;
  color: #333;
}
.rview table.pvtTable tbody tr th, .rview table.pvtTable tbody tr td {
  min-width: 4cm;
}
.rview .btn-toggle {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  color: #444;
  margin-right: 8px;
  font-size: 2rem;
}

.pretty-scroll *::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.pretty-scroll *::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.pretty-scroll *::-webkit-scrollbar-thumb {
  background: #999;
}
.pretty-scroll *::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.o_notification_manager .o_notification.o_success {
  color: #fff;
  background-color: #66bb6a;
}
.o_notification_manager .o_notification.o_notify {
  color: #333;
  background-color: #80deea;
}

table.pvtUi .pvtAxisContainer, table.pvtUi .pvtVals {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  padding: 3px 6px;
}
table.pvtUi .pvtAxisContainer li {
  padding: 3px;
}
table.pvtUi .pvtAxisContainer li span.pvtAttr {
  background: #f5f5f5;
  border: 1px solid #ccc;
  padding: 3px 6px;
  border-radius: 0;
}
table.pvtUi select {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 3px;
}

table.pvtTable {
  border: 1px solid #ccc;
}
table.pvtTable thead tr th {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
}
table.pvtTable tbody tr td, table.pvtTable tbody tr th {
  border: 1px solid #ccc;
}
table.pvtTable tbody tr td.pvtRowLabel, table.pvtTable tbody tr th.pvtRowLabel {
  background-color: #f1f1f1 !important;
  border-width: 1px !important;
}

/*# sourceMappingURL=report_manager.css.map */
